@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  font-size: 23px;
  color: white;
}
body {
  background: linear-gradient(to bottom right, #1a1a2e, #16213e, #0f3460, #53354a);
  background-attachment: fixed;
  color: white;
}

footer {
  background: linear-gradient(to bottom right, #1a1a2e, #16213e, #0f3460, #53354a);
  color: white;
}
